:root 
  --font-family: "Montserrat", sans-serif
  --red: #e22823
  --black: #000
  --ash-black: #1a1a1a
  --white: #fff
  --gold: #CBA212
  --maroon: #971F34
  --buttonRed: #E00027
  --secText: #6c757d

body
    font-family: var(font-family)
    color: var(--white)
    font-side: 16px
    background-color: var(--ash-black)
    padding: 0
    margin: 0
